backend:
  replicaCount: 1
  image:
    repository: ton3s-backend
    tag: latest
    pullPolicy: Never
  service:
    port: 3001
  env:
    NODE_ENV: production
    PORT: "3001"
    HOST: "0.0.0.0"
    FRONTEND_URL: "http://ton3s.local"
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi

frontend:
  replicaCount: 1
  image:
    repository: ton3s-frontend
    tag: latest
    pullPolicy: Never
  service:
    port: 3000
  env:
    NODE_ENV: production
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

ingress:
  enabled: true
  host: ton3s.local
